@import '../../variables.scss';
@import '../../themes.scss';


#date-dialog {
    .title {
        text-align: center;
    }

    .dialog-buttons {
        justify-content: flex-start;
        padding: 16px 24px;

        .right-button {
            margin-left: auto;
        }
    }
}

#date-block-section {
    .year-and-month-block {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
        padding: 5px 0;

        .year-and-month {
            display: flex;
            align-items: center;
            font-weight: 600;

            p {
                margin: 0;
            }
        }
        
        .buttons-block {
            display: flex;
            margin-left: auto;
            align-items: center;
        }
    }

    .days-block {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0;
        font-weight: 600;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            width: 14.28%;
            height: 40px;
        }
    }

    .days {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 245px;

        button, span {
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            width: 14.28%;
            height: 40px;
            border-radius: 50%;
        }
    }
}