li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  margin: 10px auto;
}

.side-navbar-col {
  padding-left: 0;
}
  
  #side-navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    bottom: 0;
    width: inherit;

    .navbar-expand .navbar-nav {
        flex-direction: column;
        margin-left: 15px;
        height: 100%;
    }

    .navbar {
      height: 100%;
    }

    .avatar-section {
      margin-top: auto;
    }

    .nav-link {
      margin: 5px 0;
    
      svg {
        margin-right: 10px;
      }
    }

    .navbar-title {
      margin: 20px auto 20px 0px;
      font-size: 1.2rem;
    }
  }
  