@import '../../themes.scss';
@import '../../variables.scss';

#calendar-section {
    max-width: 1000px;
    margin: auto auto 30px auto;

    .hidden {
        display: none;
    }

    .table-block {
        background-color: var(--color-100);
        overflow-y: scroll;
        overflow-x: scroll;
        box-shadow: $box-shadow-1;

        table {
            min-width: 800px;
            table-layout: fixed;
            text-align: center;
            width: 100%;
        }
    }

    td, th {
        border: 1px dotted var(--color-300);
    }

    td {
        height: 40px;
    }
    
    td:hover {
        background-color: var(--color-300);
        cursor: pointer;
    }

    .main-row {
        height: 60px;

        .header-item {
            text-align: center;
            font-size: 1rem;

            span {
                font-size: 0.8rem;
                font-weight: 400;
            }
        }
    }

    .time-header {
        width: 70px;
        font-size: 0.8rem;
        border: none;
        font-weight: 400;

        .time-box {
            position: relative;
            bottom: 17.5px;
        }
    }

    tr:nth-child(4n+1) th {
        font-weight: bold;
        font-size: 0.9rem;
    }

    tr:nth-child(4n+0) td, .header-item{
        border-bottom: 1px solid var(--color-300);
    }


    .full {
        border: 1px dotted var(--color-200)!important;
        position: relative;

        .pending {
            background-color: yellow;
        }

        .success {
            background-color: green;
        }

        .failure {
            background-color: red;
        }
        
        div {
            border-radius: 10px;
            font-size: 0.9rem;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 3px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
    }
    
    
}