@import '../../themes.scss';
@import '../../variables.scss';

#week-picker {
    max-width: 450px;
    margin: 20px auto;
    text-align: center;
}

.month-day-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .icon {
        transition: all .2s ease-in-out;
    }

    .icon:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}