@import './variables';

$themes: (
  color-50: (
    themeRose: #fff1f2,
    themeNeutral: #fafafa,
    themeSky: #f0f9ff,
  ),
  color-100: (
    themeRose: #ffe4e6,
    themeNeutral: #f5f5f5,
    themeSky: #e0f2fe,
  ),
  color-200: (
    themeRose: #fecdd3,
    themeNeutral: #e5e5e5,
    themeSky: #bae6fd,
  ),
  color-300: (
    themeRose: #fda4af,
    themeNeutral: #d4d4d4,
    themeSky: #7dd3fc,
  ),
  color-400: (
    themeRose: #fb7185,
    themeNeutral: #a3a3a3,
    themeSky: #38bdf8,
  ),
  color-500: (
    themeRose: #f43f5e,
    themeNeutral: #737373,
    themeSky: #0ea5e9,
  ),
  color-600: (
    themeRose: #e11d48,
    themeNeutral: #525252,
    themeSky: #0284c7,
  ),
  color-700: (
    themeRose: #be123c,
    themeNeutral: #404040,
    themeSky: #0369a1,
  ),
  color-800: (
    themeRose: #9f1239,
    themeNeutral: #262626,
    themeSky: #075985,
  ),
  color-900: (
    themeRose: #881337,
    themeNeutral: #171717,
    themeSky: #0c4a6e,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.themeRose {
  @include styles('themeRose');
}

.themeNeutral {
  @include styles('themeNeutral');
}

.themeSky {
  @include styles('themeSky');
}




