#add-new-client-section {
    .button-block {
        text-align: center;
        margin-top: 30px;
    }

    .section-options-buttons {
        text-align: center;
        margin: 10px auto;

        button {
            margin: 10px;
        }
    }
}