#client-list-section, #add-new-client-section {
    .button-block {
        text-align: center;
        margin-top: 30px;
    }
}

#client-list-section {
    text-align: center;
    
    .client-list {
        margin-top: 30px;
    }
}
   