
#client-card-section {
    margin: 30px 20px;

    .head-block {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px;
        border-bottom: 1px solid grey;

        .hamburger-icon {
            margin-left: auto;
        }
    }

    .name-title {
        display: inline-block;
        margin-bottom: 0;
        text-transform: capitalize;
        font-weight: 400;
        margin-left: 10px;
    }

}